a)

1) Missing Value Analysis: Calculate missing values and their percentage for each column, then display them.

2) Imputation/Drop Logic:

Low Missing Rate (<5%): Impute with the median (for numerical) or mode (for categorical).

Moderate Missing Rate (5%-50%):
For numerical columns, check skewness and impute using median for high skew or mean otherwise.

For categorical columns, use mode.

High Missing Rate (>50%): Drop the column.

3) Verification: Ensure no missing values remain after imputation.

In [10]:
# Import necessary libraries
import pandas as pd
import numpy as np

# Load the dataset
# Assuming the dataset is in CSV format and uploaded to Google Colab

# Load the dataset into a DataFrame
df = pd.read_csv('train.csv')

# Check for missing values and their percentage
missing_values = df.isnull().sum()
missing_percentage = (missing_values / len(df)) * 100
missing_info = pd.DataFrame({'Missing Values': missing_values, 'Percentage': missing_percentage})

print("Missing Values Info:")
print(missing_info)

# Impute or drop based on analysis
for column in df.columns:
    if missing_percentage[column] == 0:
        # No missing values, move to next column
        continue
    elif missing_percentage[column] < 5:
        # For columns with <5% missing values, use median for numerical and mode for categorical
        if df[column].dtype in ['float64', 'int64']:
            df[column].fillna(df[column].median(), inplace=True)
        else:
            df[column].fillna(df[column].mode()[0], inplace=True)
    elif missing_percentage[column] < 50:
        # For columns with 5%-50% missing values, use mode for categorical or mean/median based on skewness for numerical
        if df[column].dtype in ['float64', 'int64']:
            if df[column].skew() > 1:  # If highly skewed, use median
                df[column].fillna(df[column].median(), inplace=True)
            else:  # Otherwise, use mean
                df[column].fillna(df[column].mean(), inplace=True)
        else:
            df[column].fillna(df[column].mode()[0], inplace=True)
    else:
        # If more than 50% of values are missing, drop the column
        df.drop(columns=[column], inplace=True)

# Verify no missing values remain
print("Missing values after imputation:")
print(df.isnull().sum())

Missing Values Info:
                   Missing Values  Percentage
Unnamed: 0                      0    0.000000
Name                            0    0.000000
Location                        0    0.000000
Year                            0    0.000000
Kilometers_Driven               0    0.000000
Fuel_Type                       0    0.000000
Transmission                    0    0.000000
Owner_Type                      0    0.000000
Mileage                         2    0.034206
Engine                         36    0.615700
Power                          36    0.615700
Seats                          38    0.649906
New_Price                    5032   86.061228
Price                           0    0.000000
Missing values after imputation:
Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

<ipython-input-10-ae736113cfdb>:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mode()[0], inplace=True)
<ipython-input-10-ae736113cfdb>:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].median(), inplace=True)

b)

In [13]:
# Check data types and sample data in relevant columns
print("Data types:\n", df[['Mileage', 'Engine', 'Power']].dtypes)
print("\nSample data:\n", df[['Mileage', 'Engine', 'Power']].head(10))

# Adjust the extract_numeric function if needed
import re
import numpy as np

def extract_numeric(value):
    try:
        # Use regex to find any number with optional decimal points
        number = re.findall(r'\d+\.?\d*', str(value))
        return float(number[0]) if number else np.nan
    except:
        return np.nan  # Return NaN if there's any issue

# Apply the function to each column, using the exact column names
df['Mileage'] = df['Mileage'].apply(extract_numeric)    # e.g., Remove 'kmpl' or 'km/kg'
df['Engine'] = df['Engine'].apply(extract_numeric)      # e.g., Remove 'CC'
df['Power'] = df['Power'].apply(extract_numeric)        # e.g., Remove 'bhp'

# Confirm changes
print("\nAfter processing:")
print(df[['Mileage', 'Engine', 'Power']].head(10))

Data types:
 Mileage    float64
Engine     float64
Power      float64
dtype: object

Sample data:
    Mileage  Engine   Power
0    19.67  1582.0  126.20
1    13.00  1199.0   88.70
2    20.77  1248.0   88.76
3    15.20  1968.0  140.80
4    23.08  1461.0   63.10
5    11.36  2755.0  171.50
6    20.54  1598.0  103.60
7    22.30  1248.0   74.00
8    21.56  1462.0  103.25
9    16.80  1497.0  116.30

After processing:
   Mileage  Engine   Power
0    19.67  1582.0  126.20
1    13.00  1199.0   88.70
2    20.77  1248.0   88.76
3    15.20  1968.0  140.80
4    23.08  1461.0   63.10
5    11.36  2755.0  171.50
6    20.54  1598.0  103.60
7    22.30  1248.0   74.00
8    21.56  1462.0  103.25
9    16.80  1497.0  116.30

c)

To convert categorical variables such as "Fuel_Type" and "Transmission" into numerical one-hot encoded values, you can use the pd.get_dummies() function in Pandas. This function will create a new binary column for each category, which will be set to 1 if the row belongs to that category and 0 otherwise.

In [14]:
# Display unique values in categorical columns before encoding
print("Unique values in Fuel_Type:", df['Fuel_Type'].unique())
print("Unique values in Transmission:", df['Transmission'].unique())

# Apply one-hot encoding to 'Fuel_Type' and 'Transmission' columns
df = pd.get_dummies(df, columns=['Fuel_Type', 'Transmission'], drop_first=True)

# Display the first few rows to verify the changes
print("Data after one-hot encoding:\n", df.head())

Unique values in Fuel_Type: ['Diesel' 'Petrol' 'Electric']
Unique values in Transmission: ['Manual' 'Automatic']
Data after one-hot encoding:
    Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0              41000      First    19.67  1582.0  126.20    5.0  12.50
1              46000      First    13.00  1199.0   88.70    5.0   4.50
2              87000      First    20.77  1248.0   88.76    7.0   6.00
3              40670     Second    15.20  1968.0  140.80    5.0  17.74
4              86999      First    23.08  1461.0   63.10    5.0   3.50

   Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual
0               False             False                 True
1               False              True                 True
2               False             False                 True
3               False             False                False
4               False             False                 True

d)

In [17]:
from datetime import datetime

# Get the current year
current_year = datetime.now().year

# Calculate the age of the car and add as a new column called 'Car_Age'
df['Car_Age'] = current_year - df['Year']

# Display the first few rows to verify the new column
print(df[['Year', 'Car_Age']].head())
print(df.head())

   Year  Car_Age
0  2015        9
1  2011       13
2  2012       12
3  2013       11
4  2013       11
   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0              41000      First    19.67  1582.0  126.20    5.0  12.50
1              46000      First    13.00  1199.0   88.70    5.0   4.50
2              87000      First    20.77  1248.0   88.76    7.0   6.00
3              40670     Second    15.20  1968.0  140.80    5.0  17.74
4              86999      First    23.08  1461.0   63.10    5.0   3.50

   Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual  Car_Age
0               False             False                 True        9
1               False              True                 True       13
2               False             False                 True       12
3               False             False                False       11
4               False             False                 True       11

e)

In [18]:
import pandas as pd
from datetime import datetime

# Sample data creation for demonstration (Replace this with your actual dataset load)
data = {
    'Year': [2015, 2012, 2017, 2013],
    'Make': ['Toyota', 'Honda', 'Ford', 'BMW'],
    'Model': ['Corolla', 'Civic', 'Focus', 'X5'],
    'Fuel_Type': ['Petrol', 'Diesel', 'Petrol', 'Diesel'],
    'Transmission': ['Manual', 'Automatic', 'Manual', 'Automatic'],
    'Price': [5.5, 4.0, 6.0, 8.5],
    'Mileage': [20.5, 18.2, 15.0, 12.0]
}
df = pd.DataFrame(data)

# 1. Select specific columns (similar to `select` in R)
selected_df = df[['Year', 'Make', 'Model', 'Price']]
print("Selected columns:\n", selected_df)

# 2. Filter rows where 'Price' is greater than 5 (similar to `filter` in R)
filtered_df = df[df['Price'] > 5]
print("\nFiltered rows where Price > 5:\n", filtered_df)

# 3. Rename a column (similar to `rename` in R)
renamed_df = df.rename(columns={'Price': 'Selling_Price'})
print("\nRenamed 'Price' to 'Selling_Price':\n", renamed_df.head())

# 4. Mutate to create a new column (similar to `mutate` in R)
# Calculate car age and add as a new column
current_year = datetime.now().year
df['Car_Age'] = current_year - df['Year']
print("\nData with new 'Car_Age' column:\n", df[['Year', 'Car_Age']].head())

# 5. Arrange by a column (similar to `arrange` in R)
# Arrange data by 'Price' in descending order
arranged_df = df.sort_values(by='Price', ascending=False)
print("\nData arranged by 'Price' in descending order:\n", arranged_df)

# 6. Summarize with group by (similar to `summarize` with `group_by` in R)
# Group by 'Fuel_Type' and calculate mean price and mean mileage
summary_df = df.groupby('Fuel_Type').agg(
    Avg_Price=('Price', 'mean'),
    Avg_Mileage=('Mileage', 'mean')
).reset_index()
print("\nSummary statistics by 'Fuel_Type':\n", summary_df)

Selected columns:
    Year    Make    Model  Price
0  2015  Toyota  Corolla    5.5
1  2012   Honda    Civic    4.0
2  2017    Ford    Focus    6.0
3  2013     BMW       X5    8.5

Filtered rows where Price > 5:
    Year    Make    Model Fuel_Type Transmission  Price  Mileage
0  2015  Toyota  Corolla    Petrol       Manual    5.5     20.5
2  2017    Ford    Focus    Petrol       Manual    6.0     15.0
3  2013     BMW       X5    Diesel    Automatic    8.5     12.0

Renamed 'Price' to 'Selling_Price':
    Year    Make    Model Fuel_Type Transmission  Selling_Price  Mileage
0  2015  Toyota  Corolla    Petrol       Manual            5.5     20.5
1  2012   Honda    Civic    Diesel    Automatic            4.0     18.2
2  2017    Ford    Focus    Petrol       Manual            6.0     15.0
3  2013     BMW       X5    Diesel    Automatic            8.5     12.0

Data with new 'Car_Age' column:
    Year  Car_Age
0  2015        9
1  2012       12
2  2017        7
3  2013       11

Data arranged by 'Price' in descending order:
    Year    Make    Model Fuel_Type Transmission  Price  Mileage  Car_Age
3  2013     BMW       X5    Diesel    Automatic    8.5     12.0       11
2  2017    Ford    Focus    Petrol       Manual    6.0     15.0        7
0  2015  Toyota  Corolla    Petrol       Manual    5.5     20.5        9
1  2012   Honda    Civic    Diesel    Automatic    4.0     18.2       12

Summary statistics by 'Fuel_Type':
   Fuel_Type  Avg_Price  Avg_Mileage
0    Diesel       6.25        15.10
1    Petrol       5.75        17.75